@import url('https://fonts.googleapis.com/css?family=Eczar:400,400i,700|Noto+Serif:400,400i,700,700i|Vesper+Libre|Yrsa|Montserrat:500,600|PT+Sans+Narrow:700|PT+Serif:400,400i,700|Stalemate|Old+Standard+TT:400,400i,700|Merriweather:400,400i,700|Oswald|Lora:400,700');

:root {
  --font-site-head: "Lora", sans-serif;
  --font-site-body: "Montserrat", serif;
  --font-news-head: "Lora", sans-serif;
  --font-news-body: "Montserrat", serif;
  --font-type-head: "Lora", sans-serif;
  --font-type-body: "Montserrat", serif;
}

/* globals */
::-moz-selection { color: #000; background-color: #ffeb3b; }
::selection { color: #000; background-color: #ffeb3b; }
:focus { outline: rgba(255, 0, 0, 0.84) solid 0px; }
::-webkit-input-placeholder {
  text-align: center;
  line-height: 1;
}
:-moz-placeholder { /* Firefox 18- */
  line-height: 1;
  text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
  line-height: 1;
  text-align: center;
}
:-ms-input-placeholder {  
  line-height: 1;
  text-align: center;
}
[target="_blank"]:after {
  position: absolute !important;
  display: block;
  visibility: visible;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0px, 0px, 0px, 0px); /* deprecated */
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  content: " - opens in new window ";
}

/* animations */
@keyframes fadein {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}

html {
  background-color: #f9f9f2;
  color: #090925;
  font-family: var(--font-news-body);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  word-spacing: 0.1em;
}
.main {
  margin: 0 auto;
  padding: 0;
}
@media only screen and (min-width: 660px) {
  html { font-size: 14px; }
  .main { 
    padding: 0;
  }
  .main > article {
    margin: 0 auto;
    max-width: 1200px;
  }
}
h4 {
  font: 700 1.2rem/2 var(--font-news-body);
  margin: 0;
  letter-spacing: -0.01rem;
  word-spacing: 0;
}
h3 {
  font: 400 1.56rem/2 var(--font-news-head);
  margin: 0;
  letter-spacing: -0.04rem;
  word-spacing: 0;
}
h2 {
  font: 400 2rem/2 var(--font-news-head);
  margin: 2rem 0 0;
  letter-spacing: -0.03rem;
  word-spacing: 0;
}
h2 > em {
  color: rgb(177, 118, 118);
  display: inline-block;
  font-family: "Stalemate", script;
  font-size: 8rem;
  line-height: 1;
  vertical-align: bottom;
  width: 8rem;
}
h1 {
  font: 400 3rem/1 var(--font-news-head);
  margin: 0;
  padding: 2rem 0 2rem;
  letter-spacing: -0.1rem;
  word-spacing: 0;
}
.caption {
  font: 0.825rem/1.2 var(--font-news-body);
  letter-spacing: 0px;
}
.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  text-align: center;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
}
svg {
  pointer-events: none;
}
/* article layout */
/* grid */
p {
  margin: 0 0 2rem;
}
.text--flow p {
  margin: 0;
}
.text--flow p:not(:first-of-type) {
  text-indent: 2rem;
}
.text--flow p:last-child {
  margin: 0 0 2rem;
}
.text--flow *:not(p) + p:not(:first-of-type) {
  text-indent: 0;
}

ol, ul {
  margin: 2rem 0;
}
li > ol, li > ul {
  margin: 0;
}
ol { /* 1, 1.1, 1.1.1 */
  padding: 0;
  counter-reset: section;
  list-style-type: none;
}
ol > li > ol {
  padding: 0 0 0 1rem;
}
ol li::before { /* 1, 1.1, 1.1.1 */
  counter-increment: section;
  content: counters(section,".") ". ";
}
ul {
  margin: 0;
  padding: 0 0 0 1.333rem;
}
.list--column {
    list-style: none;
    padding: 0;
    margin: 0;
    column-count: 3;
}
/* Tables */
/*table {
  width: 100%;
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 1.00);
}
th {
  color: rgba(255, 194, 20, 1);
  background-color: rgba(0, 0, 0, 1.00);
  padding: 1rem .5rem;
  text-align: left;
}
td {
  padding: .5rem;
}
tr:hover {
  background-color: rgba(255, 194, 20, 1.00);
}*/

table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}
caption {
  padding: 1rem .5rem;
  text-align: left;
  font-weight: bold;
}
th {
  border-bottom: 1px solid #ccc;
}
th, td {
  border-right: 1px solid #ccc;
  padding: 0.5rem;
}
thead tr:first-child th:first-child {
  text-align: center;
}
tbody {
  border-bottom: 1px solid #ccc;
}
.data {
  border: none;
  text-align: right;
}
.data__caption {
  padding: 1em 0;
  text-align: left;
}
.data__tbody, .data__th {
  border: none;
  text-align: right;
}
.data__th {
  color: #eee;
  background-color: #333;
  text-align: right;
}
.data__td {
  padding: 0.25rem 0.5rem;
}
.data__tr:hover {
  background-color: inherit;
}
.data__tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}
.data__val--string {}
.data__val--num {
  text-align: right;
}
.data__val--null, .data-val--undefined {
  text-align: center;
}

/* figures */
.thumbnail {

}
.thumbnail__caption {
  font-size: 0.666rem;
  margin-top: -2rem;
  background-color: rgba(255,255,255,0.84);
  position: relative;
  z-index: 1;
  padding: 0 0.2rem;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* charts */

progress {
  margin: 0;
  padding: 0;
  border: 1px solid #666;
  border-radius: 0.2rem;
  width: 100%;
}
progress:not([value]) {

}
progress[value]  {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* For IE10 */
  color: #0c0; 
}
progress[value]::-moz-progress-bar {
  background-color: #0c0;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 0.2rem;
}
progress[value]::-webkit-progress-value {
  background-color: #0c0;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.chart-gauge {
    font-size: 1.5rem;
    font-family: var(--font-news-head);
    text-anchor: middle;
    padding-top: 2rem;
    max-width: 360px;
    max-height: 360px;
    stroke-linecap: butt;
}
.chart-gauge-label {
    fill: #117733;
}
.chart-gauge-units {
    font-size: .5em;
    fill: black;
}
.chart-gauge-message {
    font-size: .5em;
    fill: #117733;
}
.chart-gauge-base {
    fill: none;
    stroke: #c4c4c4;
    stroke-width: 4.6;
}
.chart-gauge-primary {
    fill: none;
    stroke: url(#linear);
    stroke-width: 4.7;
    animation: load-gauge 2s linear forwards;
}
.chart-gauge-secondary {
    fill: none;
    stroke: url(#linear2);
    stroke-width: 4.8;
    animation: load-gauge 2s linear forwards;
}

.chart-dial {
    font-size: 1.5rem;
    font-family: var(--font-news-head);
    text-anchor: middle;
    padding-top: 2rem;
    max-width: 360px;
    max-height: 360px;
    stroke-linecap: rounded;
}
.chart-pie {
    font-size: 1.5rem;
    font-family: var(--font-news-head);
    text-anchor: middle;
    padding-top: 2rem;
    max-width: 360px;
    max-height: 360px;
    stroke-linecap: butt;
}
.chart-pie-label {
    fill: #117733;
}
.chart-pie-units {
    font-size: .5em;
    fill: black;
}
.chart-pie-message {
    font-size: .5em;
    fill: #117733;
}
.chart-pie-base {
    fill: none;
    stroke: #c4c4c4;
    stroke-width: 60.1;
}
.chart-pie-primary {
    fill: none;
    stroke: url(#linear);
    stroke-width: 60.1;
    animation: load-gauge 2s linear forwards;
}
.chart-pie-secondary {
    fill: none;
    stroke: url(#linear2);
    stroke-width: 60.1;
    animation: load-gauge 2s linear forwards;
}

audio, video {
  background-color: #000;
}
audio {
  width: 100%;
}

@keyframes load-gauge {
  to {
    stroke-dashoffset: 0;
  }
}

/* forms */
form {
  width: 100%;
  margin: 0;
  padding: 0;
}
fieldset {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}
button {
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 1rem;
  font-family: var(--font-news-body);
  padding: 0.25rem 0.5rem;
  border: 1px solid #666;
  border-radius: 0.2rem;
  width: 100%;
}
input[type=radio], input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}
input[type=color] {
  height: 2rem;
  width: 4em;
  padding: 0.1rem;
  margin: 0;
  border-radius: 0;
  background: none;
  border: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.input {
  margin: 1em 0;
}
.input__label {
  display: block;
}
.input--text {

}
.input--textarea {

}
.input--radio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}
.input--radio .input__label, .input--radio .input__field {
  line-height: 1;
}
.input--checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}
.input--checkbox .input__label, .input--checkbox .input__field {
  line-height: 1;
}
input[type=checkbox]:not(:checked) ~ .revealing {
   display: none;
}
.input--select {
  
}
.form--inline {
  display: flex;
}
.form--inline .input {
  align-self: flex-end;
  margin-right: 1rem;  
}
.form--inline .input:last-child {
  margin-right: 0;  
}

/* navigation */
a {
  color: #00f;
  fill: #00f;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #007;
  fill: #007;
}
.top-nav {
  display: block;
  margin: 0 auto;
  width: 1rem;
  text-align: center;
}
.skip-nav {
  display: block;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.1666, visibility 0s 0.1666;
  transition: transform 0.1666, visibility 0s 0.1666;
  outline: none;
  position: fixed;
  color: #eee;
  background-color: #00f;
  z-index: 9000;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.skip-nav:focus {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.1666;
  transition: transform 0.1666;
  color: #eee;
}
.skip-nav:after {
  content: " \2193";
}

.action--inline {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  display: inline;
  margin-bottom: 0;
  min-width: 0;
  padding: 0;
  position: relative;
}

.helm {
  background-color: #111;
  border-bottom: 1px solid #999;
  border-top: 1px solid #eee;
  display: flex;
  font-family: var(--font-site-head);
  justify-content: space-between;
  letter-spacing: 0.03rem;
  min-height: 4rem;
}
.helm__item {
  color: #eee;
  display: block;
  fill: currentColor;
  padding: 1rem 1rem 0.5rem;
  font-size: 2rem;
  line-height: 1;
}
a.helm__item:hover,
a.helm__item:focus {
  background-color: #ccc;
}
.helm__title {
  font-family: "Stalemate", script;
  font-size: 4rem;
  line-height: 1;
  overflow: hidden;
  text-align: left;
  width: 100vw;
}
.helm__title > svg {
  display: inline;
  vertical-align: text-top;
}
.menu {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0.2rem;
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__action {
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 0.2rem 0.4rem;
}
.menu__item:first-child .menu__action {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.menu__item:last-child .menu__action {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom: none;
}
.menu__action:hover, .menu__action:focus {
  background-color: #00f;
  color: #eee;
}
.--is-active .menu__action{
  background-color: #000;
  color: #eee;
  cursor: text;
}

.segment {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0.2rem;
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
.segment__action {
  border-collapse: collapse;
  border-right: 1px solid #ccc;
  display: block;
  padding: 0.2rem 0.4rem;
}
.segment__item {
  display: table-cell;
}
.segment__item:first-child .segment__action {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.segment__item:last-child .segment__action {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-right: none;
}
.segment__action:hover, .segment__action:focus {
  background-color: #00f;
  color: #eee;
}
.--is-active .segment__action{
  background-color: #000;
  color: #eee;
  cursor: text;
}
.tab {
  display: block;
  border-bottom: 1px solid #ccc;
}
.tab__item {
  display: inline-block;
  border: 1px solid #ccc;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: -1px;
  background-color: #ccc;
}
.--is-active .tab__action{
  cursor: text;
}
.--is-active.tab__item {
  background-color: #eee;
  border-bottom: 1px solid #eee;
  cursor: text;
}
.pagination {

}
.pagination__item {
  padding: 0 0.5em;
}
.bread {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.bread__crumb {
  display: inline-block;
}
.bread__crumb::before {
  content: none;
  counter-increment: none;
}
.bread__crumb:not(:last-child)::after {
  content: " \2192 ";
}
.hero {
  background-color: rgb(127,22,26);
  background-image: linear-gradient(-135deg, rgba(49,17,17,.3) 0%,rgba(127,22,26,.3) 60%,rgba(49,17,17,.3) 100%);
  background-size: cover;
  color: #eee;
  display: flex;
  height: calc(100vh - 4rem);
  width: 100%;
}
.hero h1 {
  font-family: "Stalemate", script;
  font-size: 5rem;
  margin-left: 1rem;
}
.hero__stage {
  margin: 20vh auto;
  width: 70%;
  /* border: 1px solid #ccc; */
}
.hero__blurb {
  float: left;
  padding: 1rem 2rem 1rem 1rem;
  width: 40%;
}
.hero__blurb h3 {
  color: rgb(0, 109, 0);
}
.hero__nav {
  /* width: 20%; */
}
.hero__nav-list {
  margin: 0;
}
.hero__nav-item {
}
.hero__nav-item:before {
  content: none;
}
.hero__nav-action {
  display: block;
  height: 150px;
  border: 1px solid #ccc;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
#galleryStage {
  background-color: #000;
  display: none;
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
}
#galleryStage.open {
  display: flex;
}
#galleryStage img {
  margin: auto;
}
.gallery__item {
  display: block;
  flex: 1 1 10px;
  line-height: 0;
  margin: 0;
  padding: 0;
}

/* layout */
.site {}
#nav {
  
}
#site_nav_button {
  background: none;
  border: none;
  color: #eee;
  height: 3rem;
  font-size: 3rem;
  line-height: 0;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 3rem;
}
#site_nav_button:hover,
#site_nav_button:focus {
  color: rgb(46, 12, 12);
}
.site__navigation {
  background-color: rgba(208, 45, 236, 1);
  color: #eee;
  display: block;
  fill: currentColor;
  flex: 1 1 100%;
  font-size: 2vw;
  height: 100vh;
  left: 0;
  opacity: 0;
  padding: 2rem;
  position: fixed;
  top: 0;
  transition: opacity ease-in 500ms;
  width: 100%;
}
.site__navigation.open {
  display: block;
  opacity: 1;
  transition: opacity ease-out 500ms;
}
.site__navigation > h2 {
  margin: 0;
  padding: 0;
}
.site__navigation > h2 > svg {
  vertical-align: text-top;
}
.site__navigation > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.site__navigation ul {
  margin: 0;
  padding: 0;
}
.site__navigation li {
  flex: 1 1 33%;
  display: block;
  margin: 0;
  padding: .5rem 0;
}
.site__navigation a {
  color: #eee;
}
.site__navigation a:hover,
.site__navigation a:focus
 {
  color: rgb(218, 118, 205);
}
.site__aside {
  padding: 1rem 2%;
  border-top: 1px dotted #ccc;
}
.site__footer {
  border-top: 1px dotted #ccc;
  font-size: 10px;
}
.site__footer h2 {
  font-size: 2em;
}
.site__footer h3 {
  font-size: 1.5em;
}
.site__footer h4 {
  font-size: 1.333em;
}
.site__identification {
  padding: 1rem;
}
.site__colophon {
  padding: 1rem;
}
.site__connect {
  padding: 1rem;
}
.site__connect > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.site__connect li {
  display: block;
  height: 100px;
  margin: 0;
  padding: 1rem;
  width: 88px;
}
.site__connect a {
  fill: currentColor;
  display: block;
}
.site__terms {
  padding: 1rem;
}
.site__copyright {
  font-size: .5rem;
  padding: 1rem;
}
.main__footer {
  padding: 1rem;
}
@media (min-width: 66rem) {
  .site__footer {
    display: flex;
    flex-wrap: wrap;
  }
  .site__identification {
    flex: 1 1 100%;
  }
  .site__colophon {
    flex: 1 1 33.3%;
  }
  .site__connect {
    flex: 1 1 33.3%;
  }
  .site__terms {
    flex: 1 1 33.3%;
  }
  .site__copyright {
    flex: 1 1 100%;
  }
}
.main {}
.main__aside {
  padding: 1rem;
}

@media (min-width: 66rem) {
  /* html { font-size: 1.62vw; } */
  .main { 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 56rem; */
  }
  .main__header, .main__footer {
    flex: 1 1 100%;
  }
  .main__article {
    flex: 1 1 66%;
    max-width: 33rem;
    padding-right: 1rem;
  }
  .main__aside {
    flex: 1 1 33%;
    padding-left: 1rem;
  }

  .split__article {
    display: flex;
    background-color: #eee;
    width: 100%;
  }
  .split__article > section {
    width: 50%;
    padding: 2vw;
  }
}

/* helpers */
.--vh { /* Hide only visually, but have it available for screenreaders */
  position: absolute !important;
  display: block;
  visibility: visible;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0px, 0px, 0px, 0px); /* deprecated */
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}



/* Slideshow container */
.carousel {
  max-width: 960px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.carousel__slides {
  display: none;
}

/* Next & previous buttons */
.carousel__prev, .carousel__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.carousel__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.carousel__prev:hover, .carousel__next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.carousel__text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.carousel__numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.carousel__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carousel__active, .carousel__dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}