*,:after,:before{box-sizing:inherit}html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2rem;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 2rem}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}canvas,iframe,img,select,svg,textarea,video{max-width:100%}.--overflow{overflow-x:auto}.--aspect{height:0;padding-top:56.25%;position:relative}.--aspect-object{height:100%;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;z-index:100}

:root {
  --font-site-head: "Lora", sans-serif;
  --font-site-body: "Montserrat", serif;
  --font-news-head: "Lora", sans-serif;
  --font-news-body: "Montserrat", serif;
  --font-type-head: "Lora", sans-serif;
  --font-type-body: "Montserrat", serif;
}

/* globals */
/* ::-moz-selection { color: #000; background-color: #ffeb3b; }
::selection { color: #000; background-color: #ffeb3b; } */
:focus { outline: rgba(255, 0, 0, 0.84) solid 0px; }
::-webkit-input-placeholder {
  text-align: center;
  line-height: 1;
}
:-moz-placeholder {
  line-height: 1;
  text-align: center;
}
::-moz-placeholder {
  line-height: 1;
  text-align: center;
}
:-ms-input-placeholder {  
  line-height: 1;
  text-align: center;
}
[target="_blank"]:after {
  position: absolute !important;
  display: block;
  visibility: visible;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  content: " - opens in new window ";
}

@keyframes fadein {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}

html {
  background-color: #f9f9f2;
  color: #090925;
  font-family: var(--font-news-body);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  word-spacing: 0.1em;
}
.main {
  margin: 0 auto;
  padding: 0;
}
article > h1 {
  padding-left: 2rem;
}
.main__caption {
  padding: 1rem 10%;
  text-align: right;
}
@media only screen and (min-width: 660px) {
  html { font-size: 14px; }
  .main { 
    padding: 0;
  }
  .main > article {
    margin: 0 auto;
    max-width: 1200px;
  }
}
h4 {
  font: 700 1.2rem/2 var(--font-news-body);
  margin: 0;
  letter-spacing: -0.01rem;
  word-spacing: 0;
}
h3 {
  font: 400 1.56rem/2 var(--font-news-head);
  margin: 0;
  letter-spacing: -0.04rem;
  word-spacing: 0;
}
h2 {
  font: 400 2rem/2 var(--font-news-head);
  margin: 2rem 0 0;
  letter-spacing: -0.03rem;
  word-spacing: 0;
}
h2 > em {
  color: rgb(177, 118, 118);
  display: inline-block;
  font-family: "Stalemate", script;
  font-size: 8rem;
  line-height: 1;
  vertical-align: bottom;
  width: 8rem;
}
h1 {
  font: 400 3rem/1 var(--font-news-head);
  margin: 0;
  padding: 2rem 0 2rem;
  letter-spacing: -0.1rem;
  word-spacing: 0;
}
.caption {
  font: 0.825rem/1.2 var(--font-news-body);
  letter-spacing: 0px;
}
.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  text-align: center;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
}
svg {
  pointer-events: none;
}

p {
  margin: 0 0 2rem;
}
.text--flow p {
  margin: 0;
}
.text--flow p:not(:first-of-type) {
  text-indent: 2rem;
}
.text--flow p:last-child {
  margin: 0 0 2rem;
}
.text--flow *:not(p) + p:not(:first-of-type) {
  text-indent: 0;
}

ol, ul {
  margin: 2rem 0;
}
li > ol, li > ul {
  margin: 0;
}
ol {
  counter-reset: section;
  list-style-type: none;
}
ol > li > ol,
ul > li > ul {
  padding: 0 0 0 1rem;
}
ol li::before {
  counter-increment: section;
  content: counters(section,".") ". ";
}
.list--column {
    list-style: none;
    padding: 0;
    margin: 0;
    column-count: 3;
}

.thumbnail__caption {
  font-size: 0.666rem;
  margin-top: -2rem;
  background-color: rgba(255,255,255,0.84);
  position: relative;
  z-index: 1;
  padding: 0 0.2rem;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

audio, video {
  background-color: #000;
}
audio {
  width: 100%;
}

@keyframes load-gauge {
  to {
    stroke-dashoffset: 0;
  }
}

/* forms */
form {
  width: 100%;
  margin: 0;
  padding: 0;
}
fieldset {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}
button {
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 1rem;
  font-family: var(--font-news-body);
  padding: 0.25rem 0.5rem;
  border: 1px solid #666;
  border-radius: 0.2rem;
  width: 100%;
}
input[type=radio], input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}
input[type=color] {
  height: 2rem;
  width: 4em;
  padding: 0.1rem;
  margin: 0;
  border-radius: 0;
  background: none;
  border: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.input {
  margin: 1em 0;
}
.input__label {
  display: block;
}
.input--radio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}
.input--radio .input__label, .input--radio .input__field {
  line-height: 1;
}
.input--checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}
.input--checkbox .input__label, .input--checkbox .input__field {
  line-height: 1;
}
input[type=checkbox]:not(:checked) ~ .revealing {
   display: none;
}
.form--inline {
  display: flex;
}
.form--inline .input {
  align-self: flex-end;
  margin-right: 1rem;  
}
.form--inline .input:last-child {
  margin-right: 0;  
}

/* navigation */
a {
  color: #00f;
  fill: #00f;
  text-decoration: none;
}
a:hover {
  color: #007;
  fill: #007;
}
.top-nav {
  display: block;
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  width: 1rem;
}

.action--inline {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  display: inline;
  min-width: 0;
  padding: 0;
  position: relative;
}

.helm {
  background-color: #111;
  border-bottom: 1px solid #999;
  display: flex;
  font-family: var(--font-site-head);
  justify-content: space-between;
  letter-spacing: 0.03rem;
  min-height: 4rem;
}
.helm__item {
  color: #eee;
  display: block;
  fill: currentColor;
  margin: 1rem 1rem 0.5rem;
  font-size: 2rem;
  line-height: 1;
}
.helm__item:hover {
  fill: #6d6adc;
}
.helm__title {
  font-family: "Stalemate", script;
  font-size: 4rem;
  line-height: 1;
  text-align: left;
}
.helm__title:hover {
  color: #fff;
  background-color: transparent;
}
.helm__title > svg {
  display: inline;
  vertical-align: text-top;
}

.search {
  margin: 2rem 10%;
  width: auto;
}
.search__input,
.search__button {
  width: initial;
}
.search__input {
  padding: 1rem;
  width: 50%;
}
.search__button {
  padding: .6rem 1rem;
  vertical-align: middle;
}

.segment {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0.2rem;
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
.segment__action {
  border-collapse: collapse;
  border-right: 1px solid #ccc;
  display: block;
  padding: 0.2rem 0.4rem;
}
.segment__item {
  display: table-cell;
}
.segment__item:first-child .segment__action {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.segment__item:last-child .segment__action {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-right: none;
}
.segment__action:hover {
  background-color: #00f;
  color: #eee;
}
.--is-active .segment__action{
  background-color: #000;
  color: #eee;
  cursor: text;
}
.tab {
  display: block;
  border-bottom: 1px solid #ccc;
}
.tab__item {
  display: inline-block;
  border: 1px solid #ccc;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: -1px;
  background-color: #ccc;
}
.--is-active .tab__action{
  cursor: text;
}
.--is-active.tab__item {
  background-color: #eee;
  border-bottom: 1px solid #eee;
  cursor: text;
}
.pagination {
	display: block;
}
.pagination__item {
  padding: 0 0.5em;
}
.bread {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.bread__crumb {
  display: inline-block;
}
.bread__crumb::before {
  content: none;
  counter-increment: none;
}
.bread__crumb:not(:last-child)::after {
  content: " \2192 ";
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  max-width: 960px;
}
#galleryStage {
  background-color: #000;
  display: none;
  height: 100vh;
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
#galleryStage.open {
  display: flex;
}
#galleryStage img {
  margin: auto;
}
.gallery__item {
  display: block;
  flex: 0 0 25%;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.gallery__item a:hover {
  cursor: zoom-in;
}

.section {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 50rem;
  position: relative;
}


.section > p {
  margin: 0;
  line-height: 1.9;
  letter-spacing: .01rem;
  word-spacing: .2rem;
  text-align: justify;
  text-indent: 2rem;
}
.section > p:first-of-type {
  text-indent: 0;
}

@media (min-width: 800px) {
  .section:before {
    border: 1px dashed #dbc8b1;
    border-bottom: none;
    border-top: none;
    content: '';
    display: block;
    width: 100%;
    height: calc(100% - 10rem);
    position: absolute;
    margin: 4rem -2rem;
    top: 0;
    z-index: -1;
  }
  .section:after {
    border: 1px dashed #dbc8b1;
    border-bottom: none;
    border-top: none;
    content: '';
    display: block;
    width: calc(100% + 4rem);
    height: calc(100% - 18rem);
    position: absolute;
    margin: 8rem -4rem;
    top: 0;
    z-index: -1;
  }
}
.section > p:first-of-type:first-letter {
  color: #6d6adc;
  float: left;
  font-family: "Lora", sans-serif;
  font-size: 7.2rem;
  line-height: .8;
  margin-right: .5rem;
  margin-left: .333rem;
}
.section > p:first-of-type:first-line {
  font-size: 1.8rem;
  letter-spacing: -.04rem;
  text-indent: -.4rem;
  line-height: 1.333;
}

/* layout */
.site__header {
  position: sticky;
  top: 0;
  z-index: 10;
}
#top:target .helm__title {
  animation: flash 1s ease-out 1s;
}

@keyframes flash {
  0% {
    color: #fff;
    text-shadow:  0 0 .3rem #fff, 0 0 .3rem #fff, 0 0 5rem #fff, 0 0 3rem #fff, 0 0 1rem #fff;
    transform: scale(1.025) translateY(-.25rem);
  }
  40% {
    text-shadow: 0 0 .3rem #fff, 0 0 .3rem #fff, 0 0 5rem #fff0, 0 0 3rem #fff0, 0 0 1rem #fff0;
    transform: scale(1) translateY(0);
  }
  100% {
    text-shadow: 0 0 .3rem #fff0, 0 0 .3rem #fff0, 0 0 5rem #fff0, 0 0 3rem #fff0, 0 0 1rem #fff0, 0 0;
    transform: scale(1);
  }
}

.site__aside {
  padding: 1rem 2%;
  border-top: 1px dashed #dbc8b1;
}
.site__footer {
  border-top: 1px dashed #dbc8b1;
  font-size: 11px;
}
.site__footer h2 {
  font-size: 2em;
}
.site__footer h3 {
  font-size: 1.5em;
}
.site__footer h4 {
  font-size: 1.333em;
}
.site__footer blockquote {
  font-size: 1rem;
}
.site__identification {
  padding: 1rem;
}
.site__colophon {
  padding: 1rem;
}
.site__connect {
  padding: 1rem;
}
.site__connect > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.site__connect li {
  display: block;
  height: 33px;
  margin: 0 0 0 1rem;
  padding: .5rem;
  width: 33px;
  border: 1px solid #000;
  border-radius: 100%;
}
.site__connect a {
  color: #000;
  fill: currentColor;
  display: block;
}
.site__connect a:hover {
  color: #999;
  fill: currentColor;
  display: block;
}
.site__terms {
  padding: 1rem;
}
.site__copyright {
  color: #cccccc;
  padding: 1rem;
}
.main__footer {
  padding: 1rem;
}
@media (min-width: 66rem) {
  .site__footer {
    display: flex;
    flex-wrap: wrap;
  }
  .site__identification {
    flex: 1 1 100%;
  }
  .site__colophon {
    flex: 1 1 66.6%;
  }
  .site__connect {
    flex: 1 1 33.3%;
  }
  .site__copyright {
    flex: 1 1 100%;
  }
}

.main__aside {
  padding: 1rem;
}

.quote {
  font-family: "Lora", sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  text-align: center;
}
.quote::before {
  color: #6d6adc;
  content: "“";
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: -1.5rem;
  left: 0;
  z-index: -1;
}
.quote p::after {
  color: #6d6adc;
  content: "”";
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  bottom: 2rem;
  right: 0;
  z-index: -1;
}
.quote__citation {
  font-size: 1rem;
  margin: 0;
  text-align: right;
}

@media (min-width: 639px) {
  .quote {
    font-size: 3rem;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 1280px;
  }
  .quote::before {
    font-size: 8rem;
  }
  .quote p::after {
    font-size: 8rem;
  }
  .quote__citation {
    font-size: 2rem;
  }
}

@media (min-width: 66rem) {
  /* html { font-size: 1.62vw; } */
  .main { 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 56rem; */
  }
  .main__header, .main__footer {
    flex: 1 1 100%;
  }
  .main__article {
    flex: 1 1 66%;
    max-width: 33rem;
    padding-right: 1rem;
  }
  .main__aside {
    flex: 1 1 33%;
    padding-left: 1rem;
  }

  .split__article {
    display: flex;
    background-color: #eee;
    width: 100%;
  }
  .split__article > section {
    width: 50%;
    padding: 2vw;
  }
}

/* helpers */
.--vh { /* Hide only visually, but have it available for screenreaders */
  position: absolute !important;
  display: block;
  visibility: visible;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}

.end,
.section > .end {
  color: #aaa8f2;
  font-family: Lora, serif;
  font-size: 6rem;
  text-align: center;
  text-indent: 0;
}





button,
input,
select,
textarea {
  font-size: 1.5rem;
  padding: 1rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 3rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: .2rem;
  bottom: .2rem;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ff5722;
}

input:checked + .slider:before {
  transform: translateX(1.5rem);
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  background-color: #ccc;
  border-radius: .3rem;
  height: 2rem;
  left: 0;
  margin: .5rem;
  position: absolute;
  top: 0;
  width: 2rem;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #999;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ff5722;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: .8rem;
  top: .4rem;
  width: .5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 .3rem .3rem 0;
  transform: rotate(45deg);
}


/* Create a custom radio button */
.radio {
  background-color: #ccc;
  border-radius: 50%;
  height: 2rem;
  left: 0;
  margin: .5rem;
  position: absolute;
  top: 0;
  width: 2rem;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radio {
  background-color: #999;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radio {
  background-color: #ff5722;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radio:after {
  top: .5rem;
  left: .5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:hover {
  background-color: #999;
}

.slider:before {
  background-color: white;
  background: white;
  border-radius: 50%;
  bottom: .5rem;
  content: "";
  height: 1rem;
  left: .5rem;
  position: absolute;
  top: .5rem;
  transition: .4s;
  width: 1rem;
}

input:checked + .slider {
  background-color: #ff5722;
}

input:checked + .slider:before {
  transform: translateX(3rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3rem;
}

.slider.round:before {
  border-radius: 50%;
}